* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: row;
}

.hero {
  flex: 0 0 auto;
  overflow: hidden;
  width: 33vw;
  height: 100vh;
}

form {
  flex: 2 0 auto;
}

