* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: space;
  src: url(fonts/SpaceMono-Bold.ttf);
}

body {
  display: flex;
  flex-flow: row;
}

.hero {
  flex: 0 0 auto;
  overflow: hidden;
  width: 33vw;
  height: 100vh;
  background: url(images/splash.png) no-repeat center;
  background-size: cover;
}

form {
  flex: 2 0 auto;
}

.description {
  font-family: space;
}

